/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  transition: all 500ms;
  transition-property: color, background-color, box-shadow, border-color;
}

.dropdown-content.dark {
  background-color: rgb(50, 50, 50);
  color: white;
  box-shadow: 2px 2px 5px black;
  border-color: grey;
  transition: all 500ms;
  transition-property: color, background-color, box-shadow, border-color;
}

/* Links inside the dropdown */
.dropdown-content span {
  padding: 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {
  background-color: lightgray;
  cursor: pointer;
}

.dropdown-content.dark span:hover {
  background-color: rgb(70, 70, 70);
}
