header {
  background-color: rgb(46, 46, 46);
  color: white;
  text-align: left;
  display: flex;
  /* justify-content: flex-end; aligne à droite */
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.2rem;
  height: 15%;
}
