#left-menu {
  float: left;
  height: 100%;
  width: max-content;
  color: white;
  background-color: rgb(46, 46, 46);
  font-weight: 300;
  padding-right: 10px;
  padding-left: 10px;
}

#title {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: max-content;
}

#title img,
#title h2 {
  margin: auto;
}

#left-menu .ul {
  padding: 20px;
}

#left-menu .li {
  letter-spacing: 0.1em;
  font-size: 0.8em;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  text-align: left;
}

#left-menu .li div {
  margin-right: auto;
  padding: 2px;
}

#left-menu .li:hover {
  color: skyblue;
  cursor: pointer;
}
.receipt-summary {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  padding-top: 10px;
}
.receipt-left-side {
  flex: 1;
  text-align: left;
}
.receipt-right-side {
  text-align: right;
}
#tickets-on-hold {
  background-color: rgb(240, 240, 240);
  color: rgb(46, 46, 46);
  padding: 5px;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: 400;
  letter-spacing: 0.05em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ticket:hover {
  background-color: lightgray;
  cursor: pointer;
}

.staff-member:hover {
  background-color: lightgray;
  cursor: pointer;
}
.staff-member {
  padding-top: 3px;
  padding-bottom: 3px;
  float: left;
  width: 95%;
}
.staff-color {
  padding-top: 3px;
  padding-bottom: 3px;
  width: 5%;
  float: left;
}
