#receipt {
  float: right;
  height: 100%;
  width: 25%;
  background-color: white;
  color: rgb(46, 46, 46);
}

#receipt ul {
  list-style-type: none;
}

#receipt h3 {
  text-align: center;
}

#totals {
  position: fixed;
  bottom: 0;
  right: 0;
}

#totals button {
  float: left;
  margin: 5px;
  background-color: skyblue;
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}

#totals button:hover {
  background-color: slategray;
  cursor: pointer;
}
