#receipt {
  float: right;
  height: 100%;
  width: 25%;
  min-width: fit-content;
  background-color: white;
  color: rgb(46, 46, 46);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  transition: all 500ms;
  transition-property: color, background-color;
}
#receipt.dark {
  background-color: rgb(46, 46, 46);
  color: white;
  transition: all 500ms;
  transition-property: color, background-color;
}

#receipt-content {
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.receipt-left,
.receipt-center,
.receipt-right {
  margin-left: 5px;
  margin-right: 5px;
}
.receipt-right {
  flex: 1;
  text-align: right;
}

.action:hover {
  cursor: pointer;
  color: lightgray;
}

#receipt-main {
  margin-top: 10px;
}
#receipt-user-name {
  height: min-content;
  color: white;
  text-align: right;
  padding-right: 10px;
  transition: all 500ms;
  transition-property: color, background-color;
  line-height: 50%;
}

#receipt-user-name h2 {
  color: white;
  font-weight: 500;
  transition: all 500ms;
  transition-property: color, background-color;
}

#receipt-user-name h3 {
  font-size: 1.5em;
  font-weight: 200;
}

#receipt .receipt-top-button {
  width: auto;
  margin: 5px;
  border-radius: 3px;
  letter-spacing: 0.1em;
  padding: 5px;
  font-size: 0.7em;
  border: 1px solid skyblue;
  color: skyblue;
  text-transform: uppercase;
}
#receipt .receipt-top-button.dark:hover {
  color: grey;
  border-color: grey;
}

#receipt .receipt-top-button:hover {
  color: rgb(46, 46, 46);
  border-color: rgb(46, 46, 46);
  cursor: pointer;
}

#totals-parent {
  justify-self: flex-end;
  margin-top: auto;
}
#totals1 {
  align-content: space-between;
  display: flex;
}

#totals2 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
}

.total-btn {
  float: left;
  margin: 10px;
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  box-shadow: 2px 2px 5px rgb(230, 230, 230);
  flex: 1;
  transition: all 500ms;
  transition-property: color, background-color;
}

.total-btn.dark {
  box-shadow: 2px 2px 5px black;
  transition: all 500ms;
  transition-property: box-shadow;
}

.total-btn:hover {
  filter: brightness(1.2) grayscale(0.2);
  cursor: pointer;
}
