#receipt {
  padding-top: 10px;
  float: right;
  height: 100%;
  width: 25%;
  min-width: fit-content;
  background-color: white;
  color: rgb(46, 46, 46);
  text-align: center;
}

#receipt ul {
  list-style-type: none;
  text-align: left;
}

#receipt li .action:hover {
  cursor: pointer;
  color: skyblue;
}

#receipt h3 {
  text-align: center;
}
#receipt .receipt-top-button {
  width: auto;
  margin: 5px;
  border-radius: 3px;
  letter-spacing: 0.1em;
  padding: 5px;
  font-size: 0.7em;
  border: 1px solid skyblue;
  color: skyblue;
  text-transform: uppercase;
}
#receipt .receipt-top-button:hover {
  color: rgb(46, 46, 46);
  border-color: rgb(46, 46, 46);
  cursor: pointer;
}
#totals {
  position: fixed;
  bottom: 0;
  right: 0;
}

#totals button {
  float: left;
  margin: 5px;
  background-color: skyblue;
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}

#totals button:hover {
  background-color: slategray;
  cursor: pointer;
}
