#statistics {
  height: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1em;
  font-size: 0.9em;
}

#statistics-header {
  min-height: 10%;
  background-color: rgb(46, 46, 46);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
#statistics-header .stats-menu {
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
}

#statistics-header .stats-menu .action:hover {
  color: skyblue;
  cursor: pointer;
}
.stats-menu img {
  cursor: pointer;
  margin-right: 10px;
}

#statistics-header .stats-menu .dropdown-content {
  color: black;
}
#statistics-main {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.statistics-third {
  margin: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}
.individual-receipts {
  margin: 2px;
  padding: 5px;
  border: 1px solid lightgrey;
  transition: background-color 200ms;
}

.individual-receipts:hover {
  cursor: pointer;
  background-color: rgb(220, 245, 255);
  transition: background-color 200ms;
}

.payement-filters {
  display: flex;
  flex-direction: row;
}

.payement-filter {
  flex: 1;
  padding: 10px;
  border: 1px solid grey;
  color: grey;
  margin: 2px;
  text-align: center;
  text-transform: uppercase;
}

.payement-filter:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.stats-menu span:hover {
  cursor: pointer;
  color: skyblue;
}

.closing-btn {
  border: 1px solid lightgray;
  color: lightgray;
  width: min-content;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
}
.closing-btn:hover {
  cursor: pointer;
  border-color: gray;
  color: gray;
}
