#statistics {
  height: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1em;
  font-size: 0.9em;
}

#statistics-header {
  min-height: 10%;
  background-color: rgb(46, 46, 46);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
#statistics-header .stats-menu {
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
}

#statistics-header .stats-menu .action:hover {
  color: rgb(240, 240, 240);
  cursor: pointer;
}
.stats-menu img {
  cursor: pointer;
  margin-right: 10px;
}

#statistics-header .stats-menu .dropdown-content {
  color: black;
}

#statistics-header .stats-menu .dropdown-content.dark {
  color: white;
}
#statistics-main {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.statistics-third {
  margin: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
  overflow-y: scroll;
  height: auto;
  width: fit-content;
  transition: all 200ms;
  transition-property: color, background-color, border;
}

.statistics-third.dark {
  background-color: rgb(46, 46, 46);
  color: white;
  border: 1px solid grey;
  transition: all 200ms;
  transition-property: color, background-color, border;
}

.individual-receipts {
  margin: 2px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  transition: background-color 200ms;
  display: flex;
  flex-direction: row;
}

.individual-receipts.dark {
  border: 1px solid grey;
  background-color: rgb(60, 60, 60);
  transition: all 200ms;
  transition-property: color, background-color, border;
}

.individual-receipts.clicked {
  background-color: rgb(240, 240, 240);
}

.individual-receipts.dark.clicked {
  background-color: rgb(100, 100, 100);
}

.receipts-parts {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.individual-total {
  font-size: 1.7em;
  width: max-content;
  margin: auto;
  height: fit-content;
  width: max-content;
  padding: 5px;
}
.individual-other {
  font-size: 0.8em;
  text-align: center;
  text-transform: capitalize;
  margin: auto;
  height: fit-content;
  width: max-content;
  padding: 5px;
}

.individual-receipts:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  transition: background-color 200ms;
}

.individual-receipts.dark:hover {
  background-color: rgb(100, 100, 100);
  transition: background-color 200ms;
}

.payement-filters {
  display: flex;
  flex-direction: row;
}

.payement-filter {
  flex: 1;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  color: grey;
  margin: 2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}
.payement-filter.clicked {
  background-color: rgb(240, 240, 240);
  transition: background-color 200ms;
}

.payement-filter.dark {
  color: rgb(240, 240, 240);
  border: 1px solid rgb(240, 240, 240);
}

.payement-filter.clicked.dark {
  background-color: rgb(100, 100, 100);
  transition: background-color 200ms;
}

.payement-filter:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  transition: background-color 200ms;
}

.payement-filter.dark:hover {
  background-color: rgb(100, 100, 100);
  transition: all 200ms;
  transition-property: color, background-color, border;
}

.closing-btn img {
  border: 1px solid lightgray;
  color: lightgray;
  width: min-content;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  float: left;
}
.closing-btn img:hover {
  cursor: pointer;
  border-color: gray;
  color: gray;
}

.statistics-breakdown {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.9em;
  text-transform: capitalize;
}
