#statistics {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#statistics-header {
  min-height: 10%;
  background-color: rgb(46, 46, 46);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
#statistics-header .stats-menu {
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
}

#statistics-header .stats-menu .action:hover {
  color: skyblue;
  cursor: pointer;
}

#statistics-header .stats-menu .dropdown-content {
  color: black;
}
#statistics-main {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.statistics-third {
  flex: 1;
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.individual-receipts {
  margin: 2px;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transition: background-color 200ms;
}

.individual-receipts:hover {
  cursor: pointer;
  background-color: rgb(220, 245, 255);
  transition: background-color 200ms;
}

.payement-filters {
  display: flex;
  flex-direction: row;
}

.payement-filter {
  flex: 1;
  padding: 10px;
  border: 1px solid skyblue;
  margin: 2px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}

.payement-filter:hover {
  cursor: pointer;
  background-color: rgb(220, 245, 255);
}
