html,
body,
#root,
#parent {
  margin: 0px;
  height: 100%;
  margin: auto;
  font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial,
    sans-serif;
}

#config {
  height: 100%;
}

#parent {
  display: flex;
  flex-direction: row;
}
h2 {
  font-size: 2rem;
  padding-left: 20px;
  font-weight: 100;
  color: skyblue;
}

#main {
  letter-spacing: 0.05rem;
  flex: 1;
  height: 100%;
  width: min-content;
  background-color: rgb(240, 240, 240);
  transition: background-color 500ms;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

#main.dark {
  background-color: rgb(60, 60, 60);
  transition: background-color 500ms;
}
