html,
body,
#root,
#parent {
  margin: 0px;
  height: 100%;
  margin: auto;
  font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial,
    sans-serif;
}

h2 {
  font-size: 2rem;
  padding-left: 20px;
  font-weight: 100;
  color: skyblue;
}

#main {
  letter-spacing: 0.05rem;
  max-width: 65%;
  margin-right: 25%;
  margin-left: 10%;
  height: 100%;
  background-color: rgb(240, 240, 240);
  transition: background-color 500ms;
}

#main.dark {
  background-color: rgb(60, 60, 60);
  transition: background-color 500ms;
}
