.top-menu {
  text-align: left;
  border: 1px solid green;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.top-menu .btn {
  margin: 5px;
  margin-right: 10px;
  background-color: rgb(46, 46, 46);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9em;
  transition: background-color 0.4s;
}
.top-menu .btn.dark {
  background-color: grey;
  color: white;
}

.top-menu .btn:hover {
  background-color: slategray;
  cursor: pointer;
  transition: background-color 0.4s;
}

.top-menu .btn.clicked {
  background-color: skyblue;
}
