#top-menu {
  text-align: left;
  padding: 20px;
  padding-top: 5px;
}
#top-menu a {
  float: left;
  margin: 5px;
  background-color: rgb(46, 46, 46);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

#top-menu a:hover {
  background-color: slategray;
  cursor: pointer;
}
