.MyCalendar-main {
  padding: 5px;
}

.MyCalendar-nav {
  display: flex;
  flex-direction: row;
}

.MyCalendar-btn {
  margin: 5px;
  padding: 5px;
  background-color: #dcdcdc;
  border-radius: 0.3rem;
  font-size: 0.7rem;
  letter-spacing: 00.05rem;
  border: 1px solid gray;
}

.MyCalendar-btn:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

.MyCalendar-content {
  display: flex;
  flex-direction: row;
  line-height: 75%;
}

.MyCalendar-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.MyCalendar-column-GMT {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.MyCalendar-columnTitle {
  text-align: center;
  padding: 10px;
}
.MyCalendar-columnTitleGMT {
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.MyCalendar-step {
  border: 1px dotted grey;
}

.MyCalendar-step-GMT {
  border: 1px solid white;
}

.MyCalendar-today {
  background-color: skyblue;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
}

.MyCalendar-nottoday {
  padding: 10px;
}
