.MyCalendar-main {
}

.MyCalendar-content {
  display: flex;
  flex-direction: row;
  line-height: 75%;
}

.MyCalendar-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.MyCalendar-column-GMT {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.MyCalendar-columnTitle {
  text-align: center;
  padding: 10px;
}
.MyCalendar-columnTitleGMT {
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.MyCalendar-step {
  border: 1px dotted grey;
}

.MyCalendar-step-GMT {
  border: 1px solid white;
}

.MyCalendar-today {
  background-color: skyblue;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
}

.MyCalendar-nottoday {
  padding: 10px;
}
