html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}

#App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  height: fit-content;
  width: 100%;
  background-color: rgb(50, 50, 50);
}
header h1 {
  color: #22b8cf;
  text-transform: uppercase;
  font-weight: 300;
  padding: 20px;
  margin: 0;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}

#parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

#LeftMenu {
  width: fit-content;
  color: #474747;
  font-size: 0.8rem;
  font-weight: 400;
  padding-right: 20px;
  border: 1px solid lightgrey;
}

#LeftMenu ul {
  list-style: none;
  padding: 0;
}

#LeftMenu li {
  padding: 15px;
  padding-left: 20px;
  background-color: white;
  border-radius: 0 1rem 1rem 0;
  padding-right: 30px;
  letter-spacing: 0.05rem;
}

#LeftMenu li:hover {
  cursor: pointer;
  color: #22b8cf;
  background-color: #f2f3f6;
}

#LeftMenu li.clicked {
  background-color: #e3fafc;
  color: #22b8cf;
  font-weight: 500;
}

#Main {
  flex: 1;
  background-color: rgb(250, 250, 255);
  border-top: 1px solid lightgrey;
}
h2 {
  color: gray;
  margin-left: 30px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}
.main-content {
  background-color: white;
  border: 1px solid lightgray;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

#LoginScreen {
  margin: auto;
  min-width: 300px;
  min-height: 200px;
  padding: 10px;
  background-color: rgb(250, 250, 250);
  border: 1px solid lightgray;
  border-radius: 0.3rem;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  font-size: 00.8rem;
  display: flex;
}

#LoginContent {
  margin: auto;
  text-align: center;
}

#LoginScreen p {
  margin: 10px;
}
#LoginScreen input {
  width: 250px;
}

.new-patient {
  display: flex;
  flex-direction: row;
}

.form-column {
  margin-right: 20px;
  margin-left: 20px;
  flex: 1;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}
.nav-patient {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.btn-patient {
  margin: 10px;
  padding: 15px;
  background-color: #dcdcdc;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  letter-spacing: 00.05rem;
  border: 1px solid gray;
  transition: all 200ms;
  transition-property: padding, margin, background-color;
}

.btn-patient:hover {
  cursor: pointer;
  background-color: #e8e8e8;
  margin: 9px;
  padding: 16px;
  transition: all 200ms;
  transition-property: padding, margin, background-color;
}

.new-patient table {
  flex: 1;
}
